@(groups: Set[String], results: Seq[lhc.messages.Message])

@import java.util.ArrayList
@import lhc.config.AppConfig
@import org.apache.solr.common.SolrDocument

@main("Less Hip Chat Configuration") {
@groups.map { res =>
@res.toString() <br/>
}
<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Channel</th>
      <th>Time</th>
      <th>Message</th>
    </tr>
  </thead>
  <tbody>
    @results.map { res =>
    <tr>
      <td>@res.getUser.get("login").getOrElse("unknown")</td>
      <td>@res.getGroup</td>
      <td>@res.iso8601</td>
      <td>@res.getMessage</td>
    </tr>
    }
  </tbody>
</table>

  <table>
    <thead>
      <tr>
        <th>Channel</th>
        <th>Password</th>
        <th>Expiration</th>
      </tr>
    </thead>
    <tbody>
      @AppConfig.irc.channels.map { chan =>
      <tr>
        <td>@chan.name</td>
        <td>@chan.password.getOrElse("None")</td>
        <td>@chan.expireAfter.map(_.toString).getOrElse("Never")</td>
      </tr>
      }
    </tbody>
  </table>
}
