@(groups: Set[String], results: Seq[org.apache.solr.common.SolrDocument])

@import java.util.ArrayList
@import lhc.config.AppConfig
@import org.apache.solr.common.SolrDocument

@main("Less Hip Chat Configuration") {
@groups.map { res =>
@res.toString() <br/>
}
@results.map { res =>
@res.toString() <br/>
}

  <table>
    <thead>
      <tr>
        <th>Channel</th>
        <th>Password</th>
        <th>Expiration</th>
      </tr>
    </thead>
    <tbody>
      @AppConfig.irc.channels.map { chan =>
      <tr>
        <td>@chan.name</td>
        <td>@chan.password.getOrElse("None")</td>
        <td>@chan.expireAfter.map(_.toString).getOrElse("Never")</td>
      </tr>
      }
    </tbody>
  </table>
}
